html, body, #app {
  height: 100%;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

//dialog
.el-dialog__header {
  border-bottom: 1px solid var(--el-border-color);
  margin-right: 0 !important;
}

.el-dialog__footer {
  border-top: 1px solid var(--el-border-color);
}

//date
.el-date-editor.el-input, .el-date-editor.el-input__wrapper {
  width: 100%;
}

//number
.el-input-number {
  width: 100%;
}

.el-input-number .el-input__inner {
  text-align: left;
}

.el-input-number.is-controls-right .el-input__wrapper {
  padding-left: 11px;
}

//select
.el-select {
  width: 100%;
}

